@using WillBlazor.Shared.ApiHelpers

<div class="container">
    <h1>@post.Title</h1>
    <h5>@post.Summary</h5>
    <br />
    <p> @post.DatePosted | <a href="#">Go to comments</a></p>

    @if (paragraphs != null)
    {
        @foreach (string p in paragraphs)
        {
            <p>
                @p
            </p>
        }
    }

</div>

@code {
    [Parameter] public int PostId { get; set; }
    public Post post { get; set; } = new Post();
    public string[] paragraphs { get; set; }
    public string helperz { get; set; }


    protected async override Task OnInitializedAsync()
    {
        post = await PostApiHelper.GetPostAsync(PostId);

        paragraphs = post.Content.Split("---");

        foreach (var p in paragraphs)
        {
            Console.WriteLine(p);
        }
    }
}
