<h1>Sup sidebar</h1>
<a>
    <img src="http://www.khcsports.com/images/products/Cincinnati-Bengals-throwback-mini-helmet-1968-1979.jpg" style="width:131px;height:145px;" />
    <p>
        Click for another article!
    </p>
</a>
<hr />
<br />
<a>
    <img src="http://www.khcsports.com/images/products/Cincinnati-Bengals-throwback-mini-helmet-1968-1979.jpg" style="width:131px;height:145px;" />
    <p>
        Click for another article!
    </p>
</a>
<hr />
<br />
<a>
    <img src="http://www.khcsports.com/images/products/Cincinnati-Bengals-throwback-mini-helmet-1968-1979.jpg" style="width:131px;height:145px;" />
    <p>
        Click for another article!
    </p>
</a>
<hr />
<br />

@code {

}
