@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<style>
    .btn-outline-light:hover{
        color:black;
    }
</style>

<nav class="navbar navbar-expand-sm fixed-top" style="justify-content:center; background-color:#0e1111;">
        <a href="#" class="navbar-brand"><img class="navbar-brand" src="https://i.postimg.cc/pX8B6S8k/WB-logo.png" /></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="bengals/index">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">Bengals</strong>
                    </button>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="reds/index">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">Reds</strong>
                    </button>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="raiders/index">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">WSU</strong>
                    </button>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="cavaliers/index">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">Cavaliers</strong>
                    </button>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="hawkeyes/index">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">Hawkeyes</strong>
                    </button>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="#">
                    <button type="button" class="btn btn-outline-secondary" style="color:white">
                        <strong style="font-size:1.45rem;">All Articles</strong>
                    </button>
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/register">
                            <button class="btn btn-outline-secondary" href="authentication/profile"><strong>Hello, @context.User.Identity.Name!</strong></button>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-outline-secondary" @onclick="BeginSignOut"><strong>Log out</strong></button>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/register">
                            <button type="button" class="btn btn-outline-secondary" style="color:black">
                                <strong style="font-size:1.45rem;">Register</strong>
                            </button>
                        </NavLink> 
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/login">
                            <button type="button" class="btn btn-outline-secondary" style="color:black">
                                <strong style="font-size:1.45rem;">Login</strong>
                            </button>
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
</nav>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}