
<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Will B. Publishing</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item align-content-end">
            <NavLink class="nav-link" href="bengals/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bengals
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="reds/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reds
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="raiders/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Raiders
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="cavaliers/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cavaliers
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="hawkeyes/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hawkeyes
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="authors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Articles
            </NavLink>
        </li>
        <LoginDisplay />
    </ul>
</nav>