@inject IPictureRepository picRepo
@using WillBlazor.Shared.ApiHelpers


@if (Picture != null)
{
    <div class="container">
        <img style="width:40rem;" src="@Picture.PictureUrl" />
    </div>
        
}


@code {
    [Parameter] public int PictureId { get; set; }

    public Picture Picture;

    protected async override Task OnInitializedAsync()
    {
        Picture = await PictureApiHelper.GetPictureAsync(PictureId);
    }
}
